body {
    background: rgb(226, 226, 226);
    text-align: center;
}

h1 {
    padding: 10px;
}

#new-texture {
    margin-bottom: 20px;
}

canvas {
    background: rgb(0, 0, 0);
    margin-top: 20px;
}

#maze-path-color {
    height: auto;
}

select {
    margin-right: 2px;
    width: 99px;
}

.accordion {
    margin: auto;
    width: 260px;
}

.accordion-body {
    padding: 10px;
}

.input-group {
    width: 240px;
}

.input-group-prepend {
    width: 140px;
}

footer {
    margin: 10px;
}