body {
    background: rgb(226, 226, 226);
}

canvas {
    background: rgb(0, 0, 0);
}

#maze-path-color {
    height: auto;
}

select {
    margin-right: 2px;
    width: 99px;
}

.input-group {
    width: 240px;
}

.input-group-prepend {
    width: 140px;
}